---
- hosts: localhost

  vars:
    - code_archive: "{{ build_label }}/{{ archive_filename }}"

  roles:
    - role: wsgi-app
      listen_port: 8080
      when: build_label > '' and archive_filename > ''

    - role: nrpe-external-master
      check_name: check_http
      check_params: "-I 127.0.0.1 -p 8080 -e ' 200 OK' -s '{{ nagios_index_content }}' -u '/'"
      service_description: "Verify wsgi-example is responding."
      when: nagios_index_content > ''

  tasks:
    # Apt dependencies
    # ===
    - name: Install custom apt dependencies.
      apt: "pkg={{ item }} state=latest update_cache=yes"
      with_items: apt_dependencies.split()
      tags:
        - config-changed

    # Pip requirements
    # ===
    - name: Install pip if we need to install requirements.
      apt: "pkg={{ item }} state=latest update_cache=yes"
      with_items:
        - python-pip
      tags:
        - config-changed
      when: requirements_path > ""

    - name: Install pip requirements from PyPi
      pip: "requirements='{{ current_code_dir }}/{{ requirements_path }}'"
      tags:
        - config-changed
      when: build_label > '' and archive_filename > '' and requirements_path > "" and pip_cache_path == ""

    - name: Install pip requirements from pip cache
      pip: "requirements='{{ current_code_dir }}/{{ requirements_path }}' extra_args='--no-index --find-links={{ current_code_dir }}/{{ pip_cache_path }}'"
      tags:
        - config-changed
      when: build_label > '' and archive_filename > '' and requirements_path > "" and pip_cache_path > ""
